body {
  margin: 5%;
  padding: 5%;
  font-family: sans-serif;
  width: 250px;
  /*border: 1px solid black;*/
}

input {
  box-shadow: none;
}

.the-list {
  list-style: none;
  padding-left: 0;
  width: 255px;
}

.the-list li {
  background-color: lightgrey;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.add-button {
  float: right;
}

.remove-button {
  float: right;
}

.checkbox {
  float: left;
}
